spec/fixtures/manifests/*
spec/fixtures/modules/atomia/*
spec/acceptance/nodesets/
junit
log
*.bundle
*.key
*.csr
*.pfx
*.crt
*.crl
metadata.json
/metadata.json
/metadata.json
/metadata.json
/metadata.json
.vagrant

